@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.gradient {

  --borderWidth: 5px;
  font-family: 'Raleway';
  font-size: 1.2rem;
  color: white;
  background-color: #c4c4c427;
  height: 60px;
  width: 300px;
  position: relative;
  border: none;
  border-radius: calc(2 * var(--borderWidth));
  margin-top: 40px;
  cursor: pointer;
}
.gradient:hover::after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2.5);
  width: calc(100% + var(--borderWidth) * 2.5);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: rainbow 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes rainbow {
	0% {
        opacity: 0;
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
        opacity: 1;
		background-position: 0% 50%;
	}
}
    

